
.close_alert
{
    float:right;
    font-weight:bold;
    font-size:24ox;
}
.loading {
    background:lightgoldenrodyellow url("../images/processing.gif") no-repeat center 65%;
    height: 80px;
    width: 100px;
    position: fixed;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -50px;
    z-index: 2000;
    display: none;
}
.icon-pencil,.icon-cross{
    float:left
}
.icon-pencil{
    color:blue;
}
.icon-cross{
    color:red;
}
.disabled_status
{
    background-color: #dadada;
}
.multi_del_background
{
    padding:2px 4px 5px 3px;
    background:#fff;
    border-radius: 5px;
}

/*css added for job status cancel and uncancel */
.cancel_class { height: 100px;position: fixed;top: 50%;left: 50%;margin-left: -150px;margin-top: -40px;z-index: 11; }
.button_color {color:red;font-size: 80px;letter-spacing:5px}
/* START -	To make the selectbox readonly */
select[readonly]{
    background: #eee;
}
select[readonly] option{
    display:none;
}					
/* END -	To make the selectbox readonly */
.scroll_to_top_index{
    z-index:9999;left: 96%;position: fixed;bottom: 30px;
}
.wrap{word-break: break-all;}
th{font-weight:bold !important;}
.file-caption-name{display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;}
.footable-row-detail-inner{width:auto !important}
.navbar-center-text{float: none !important}
.footer_text_gap{margin:0 10px 0 10px}
.dropdown-menu > .inactive > a, .dropdown-menu > .inactive > a:hover, .dropdown-menu > .inactive > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #adb2b7 !important;
}
.dropdown-menu > .active:not(.disabled) .disable-checker span
{
        border-color: #ca1414 !important;
        color: #c51515 !important;
}
.view_detail .form-group{    margin-bottom: 8px;}
.view_detail_table td{padding: 6px 20px !important;}
.view_detail_title{background-color: rgba(0, 0, 255, 0.3);}
.btn_custom_close{padding:2px 1px 0px 2px !important;}
form{margin-bottom: 0;}
.dataTable{ font-size: 13px; }    

.border-lg4 {
    border-width: 4px !important;
}
    fieldset.default-border {
        border: 1px solid #9c9696 !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px ;
        box-shadow:  0px 0px 0px 0px ;
        border-radius : 5px
        
        
    }
    legend.default-border {
        width:inherit; /* Or auto */
        padding:0 10px; /* To give a bit of padding on the left and right */
        border-bottom:none;
        font-weight: bold;
    }

.tableHeading{
 background-color: #dfecfa;
}

.tableRows{
 background-color: #f7f7f7;
}
