a.edit-art-link{color:#fff; font-weight:600;}
.edit-art{background:url(../images/edit-art-bg.jpg) no-repeat center top;}
.edit-art header{box-shadow:none;}
.edit-art header .email-top span{background:#332c34;}

.art-form{margin-top:130px; }
.edit-art .art-form-box{background:#fff; margin-bottom:30px; border-radius:6px; padding:60px 0 40px; -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);} 
.edit-art .art-form-box h4{color:#000; margin-top:-25px;  font-weight:bold; font-size:28px; padding-bottom:30px;}
.edit-art .art-form-box.bor-top{border-top:solid 8px #c193ff;}



.form-common input.form-control{background:#ededed; border-radius:6px 6px 0 0;  color:#626262; font-size:16px; height:56px; border:none; font-weight:500;}
.form-common select.form-control,.form-common select.custom-select,.form-common .selectize-input{height:56px;  border-color:#757575;  font-size:16px;  font-weight:500; }
.form-common .selectize-input{line-height:41px; font-size:16px;  border-color: #757575; }
.form-common .selectize-input input{font-size:16px; font-weight:500;}
.form-common .selectize-input .item{color:#626262; font-size:16px;}
.form-common .form-group .input-b-text{display:block; font-size:12px; padding-top:3px; padding-left:10px; }
.form-common .file-caption.form-control{width:100%; min-height:56px; border-color: #757575; border-radius:6px;}
.form-common .input-group.file-caption-main .btn.btn-primary{background-color:initial; font-size:0px; box-shadow:none; background:url(../images/ic_image_24px.svg) no-repeat center top; width:20px;}
.form-common .input-group.file-caption-main .btn.btn-default{background-color:initial; font-size:0px; box-shadow:none; background:url(../images/cancel-button.png) no-repeat center top; background-size: 20px; padding-right: 4px; padding-top: 0px; height: auto; margin-top: 3px; }
.form-common .input-group.file-caption-main .input-group-append{position:absolute; top:15px; right:10px; z-index:99; }
.form-common .form-group{margin-bottom:30px;}
.form-common select.form-control:focus,.form-common select.custom-select:focus{box-shadow:none;}
.form-common .file-caption .file-caption-name{height:39px; color:#626262; font-size:16px; font-family: 'Raleway', sans-serif !important;}



@media(max-width:575px){
	.edit-art .art-form-box{padding:60px 30px 40px;}
	.art-form{margin-top:35px;}
}


.button-submit{position:fixed; top:65%; transform: translateY(-50%); right:20px;}
@media(max-width:991px){
	.button-submit{position:initial; padding:10px 0; transform:none; text-align:center;}
	.button-submit br{display:none;}
	.button-submit button{display:inline-block; float:none!important; margin-right:10px; vertical-align:top;}
}

.poster-btn span{background: #6a00ff; background: -moz-linear-gradient(left, #6a00ff 0%, #8900ff 100%); background: -webkit-linear-gradient(left, #6a00ff 0%,#8900ff 100%);background: linear-gradient(to right, #6a00ff 0%,#8900ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a00ff', endColorstr='#8900ff',GradientType=1 ); display:inline-block; padding:8px 15px; color:#fff;
text-transform:uppercase; font-size:16px; letter-spacing:1px; font-weight:600;}
.poster-btn span font{color: #c68bff;}