@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

* { padding:0; margin:0;}
html, body { height:100%; position:relative; height:100%; max-height:100%; min-height:100%;}
body{font-family: 'Raleway', sans-serif; position:relative;}
img{max-width:100%;}
.b-r-6{border-radius:6px;}
/*Button Css*/
.btn{-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15); font-weight:500; letter-spacing:1px; padding:15px 20px; -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15); box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);}
.btn.btn-1{background:#6700ff; color:#fff;}
.btn.btn-2{background:#fff; color:#000;}
.btn-1:hover{background:#5307c3;}
.btn-2:hover{background:#f2f2f2;}

svg{display:inline-block;}

header{padding:15px 0 8px; -webkit-box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.1);
box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.1);}
header .toggle-menu{position:absolute; cursor:pointer;}
header .header-logo{display:inline-block; margin-left:45px;}
header .header-right a.user-login{position:relative; top:3px; margin-left:20px;}
header .top-search{position:relative;}
header .top-search input{height:30px; font-size:14px;}
header .top-search button{position:absolute; top:-4px; right:10px;}
header .top-search button:hover{background:none;}

header .email-top{position:relative;}
header .email-top span{background: #6700ff; height: 20px; width: 20px; border-radius: 50%; text-align: center; color: #fff; position: absolute; top: -10px; right: -10px; line-height: 19px; font-size: 12px; }
header .profile-top{position:relative; top:-4px;}
header .profile-top .user-photo{border-radius:50%; width:34px; height:34px;}
header .profile-down{position:absolute;  z-index:99; top:42px; border-radius:4px; width:300px; right:0px; display:none;
-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.23);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.23);
background:#fff;
}

.left-menu{transition: all 0.3s; top:64px; padding-top:15px; z-index:9;	 height:100%; bottom:0px; min-width:237px; max-width:237px; background:#f5f5f5; position:absolute; margin-left:0px; } 
.left-menu.active {margin-left:-237px;}
main{transition: all 0.3s;}
body.open-menu main{transition: all 0.3s; margin-left:240px;}

.menulist .menu-link{padding:0px; margin:0px; list-style:none;}
.menulist .menu-link a{padding:12px 15px; display:block; font-size:13px; font-weight:600; color:#000;}
.menulist .menu-link a:hover{background:#ebebeb;}
.menulist .menu-link-sub{border-top:solid 1px #e1e1e1; padding-top:15px; }
.menulist .menu-link-sub h4{font-size:14px; padding:5px 20px;}
.menulist svg{fill:#808080; width:20px; vertical-align:middle; margin-right:3px;}
/*.menulist .menu-link a:hover svg{fill:#6600ff;}*/

.user-profile-sec{background:#eeeeee; position:relative;padding:20px;}
.user-profile-sec img{position:absolute; left:15px; border-radius:50%}
.user-profile-sec h4{color:#000; font-size:16px; font-weight:700; padding-left:50px;  margin-bottom: 0px;}
.user-profile-sec h4 span{font-weight:300; font-size:14px; padding-top:5px; }

header .profile-down .profile-list{padding:10px 0; list-style:none; margin:0px;}
header .profile-down .profile-list li a{padding:5px 15px; display:block; color:#000; font-size:13px; font-weight:600;}
header .profile-down .profile-list li a:hover{background:#ebebeb;}
header .profile-down .profile-list li img{position:relative; top:3px;}

.place-add{position:relative; background:url("https://via.placeholder.com/1470x160") no-repeat center top; border-radius:4px; height:160px;}
.place-add h2{position:absolute; color:#fff; font-size:20px; left:20px; top:25%;}

.page-middle{width:100%; float:left;}
.common-hd h3{font-size:16px; margin-bottom:0px;}

.subject-list{border-bottom:solid 1px #ebebeb;}
.subject-box{position:relative; display:block; text-align:center;}
.subject-box span{position:absolute; right:0px;  transform: translateY(-50%); left:0px; top:50%; text-transform:uppercase; right:0px; color:#fff; font-size:18px; font-weight:700; letter-spacing:1px;}

.hot-list{max-width:1470px; margin:0 auto; height:100%;}
.hot-list .hot-list-box{text-align:center; padding:10px; width:16.66666666666667%; float:left; display:block;}
.hot-list .hot-box h4{color:#000; font-size:14px; padding-top:10px;}
.hot-list .hot-box span{color:#9e9e9e; line-height:18px; display:block; font-size:12px;}
.hot-list .hot-box a:hover{text-decoration:none;}


footer{ height:20px;}

@media(max-width:1199px){
	.hot-list .hot-list-box{width:20%; }
}
@media(max-width:991px){
	.hot-list .hot-list-box{width:25%; }
}
@media(max-width:991px){
	.hot-list .hot-list-box{width:33.3%; }
}
@media(max-width:575px){
	.hot-list .hot-list-box{width:50%; }
	.place-add h2{top:6%;}
}

@media(max-width:991px){
	body.open-menu main{margin-left:0px;}
	body.open-menu{position:fixed;}
	body.open-menu .left-menu{overflow-x:scroll; padding-bottom:90px; }
}


@media(max-width:575px){
	.header-right{margin-top:-5px;}
	header .top-search{padding-top:7px;}
	.left-menu{top:91px; height:100vh;}
}

