
.login-bg{background:url(../images/login-bg.png); background-repeat:no-repeat; background-size:cover; padding-bottom:20px;} 
.login-logo a,.login-logo{color:#fff; font-weight:100; letter-spacing:2px; font-size:26px;}
.login-logo span{font-weight:600;}

.login-page .login-hd h3{font-size:28px; letter-spacing:1px; font-weight:600; color:#fff;}
.login-page .login-cont{height:100%;}

.login-page .form-control{font-size:14px; padding-top:5px; height:62px; padding-left:20px; border:none; font-weight:500;}
.login-page .form-group.active .form-control{padding-top:25px;}
.login-page .login-reg-text{font-size:13px; color:#fff;}
.login-page .login-social a{margin:0 7px; height:40px; width:40px; text-align:center; border-radius:4px; display:inline-block; background-color: rgba(153, 77, 241, 0.7); line-height:36px; 
}
.login-page .login-social a:hover,.login-page .login-social a:focus{background-color:#6A1AE7; border-color:#6A1AE7;}
.login-page button.btn{font-size:14px; font-weight:600; padding:15px 0;}


.login-page{    display: flex;
    align-items: center;
    justify-items: center;
    height: 80vh;
}

.login-page .form-group {position: relative; z-index: 0; background:#fff; border-radius: 6px 6px 0 0; height:62px;}
.login-page .form-control{background:none; border-radius:none;} 
.login-page .form-control ~ label.top-t {position: absolute; left: 18px; top:19px; color: #495057; transition: 0.3s; z-index: -1; font-weight:500;} 
.login-page .form-group.active .form-control ~ label.top-t{top:7px; font-size:14px; color:#6700ff; transition: 0.3s; }


@media screen and (max-width: 767px) {
.login-hd{padding:10px 0!important;}	
.login-bg{background-size:initial; padding-bottom:0px;}	
.login-page .login-hd h3{font-size:18px; line-height:18px;}
.login-page .form-control{height:40px;  font-size: 12px;}
.login-page button.btn{font-size: 12px; padding: 10px 0;}
.login-logo a, .login-logo{padding-top:10px!important;}
.login-page .col-12.pt-4.pb-4.text-center{padding:15px 0!important; }
/*.login-logo.pt-4{position:absolute;}*/
}
